<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Tell IIS to use iisnode to run your Node app -->
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirect all requests to your Node app -->
        <rule name="NodeRouting" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server/index.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
</configuration>
